<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CRM - Activities</title>
</head>
<body>
<table>
    <thead>
    <th>Data powstania</th>
    <th>Wiadomość</th>
    <th colspan="2">Akcje</th>
    </thead>
    <tbody>
    <tr th:each="activity: ${activities}">
        <td th:text="${activity.localDateTime}"></td>
        <td th:text="${activity.message}"></td>
        <td> <a th:href="@{/customers/activities/edit/{id} (id=${activity.id})}" th:text="Edycja"/></td>
        <td> <a th:href="@{/customers/activities/delete/{id} (id=${activity.id})}" th:text="Usuń"/></td>
    </tr>
    </tbody>
</table>
</body>
</html>