<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CRM - Add Activity</title>
    <link rel="stylesheet" href="/style/style.css">
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">

</head>
<body>
<div th:insert="~{header :: header}"></div>

<form method="post" th:object="${activity}">
  <h2>Dodaj aktywność</h2>
  <textarea th:field="${activity.message}" rows="4" ></textarea>
  <br>
  <button type="submit" th:text="Wyślij"/>
  <button type="reset" th:text="Reset"/>
</form>
</body>
</html>