<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/style/style.css">
    <meta charset="UTF-8">
    <title>CRM - Customer Registration</title>
</head>
<body>
<div th:insert="~{header :: header}"></div>


<h3>CRM - Customer Registration</h3>

<form method="post" action="/register/customer" id="customerForm" th:object="${customer}">

    <label for="title">Tytuł</label>
    <p><select id="title" th:field="*{title}">
        <option value="" selected hidden="">Wybierz</option>
        <option th:value="Pan">Pan</option>
        <option th:value="Pani">Pani</option>
        <option th:value="Państwo">Państwo</option>
        <option th:value="Firma">Firma</option>
    </select></p>

    <label for="name">Imię:</label>
    <p><input id="name" type="text" th:field="*{name}"></p>
    <p class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>

    <label for="surname">Nazwisko:</label>
    <p><input id="surname" type="text" th:field="*{surname}"></p>
    <p class="error" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"></p>

    <label for="phoneNumber">Numer kontaktowy:</label>
    <p><input id="phoneNumber" type="text" placeholder="123 456 789" th:field="*{phoneNumber}"></p>
    <p class="error" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></p>

    <label for="email">Email:</label>
    <p><input id="email" type="email" placeholder="your@email.com" th:field="*{email}"></p>
    <p class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>

    <label for="city">Miejscowość:</label>
    <p><input id="city" type="text" th:field="*{city}"></p>
    <p class="error" th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></p>

    <label for="postcode">Kod pocztowy:</label>
    <p><input id="postcode" type="text" placeholder="XX-XXX" th:field="*{postCode}"></p>
    <p class="error" th:if="${#fields.hasErrors('postCode')}" th:errors="*{postCode}"></p>

    <label for="note">Uwagi:</label>
    <p><textarea rows="4" id="note" form="customerForm" th:field="*{note}"></textarea></p>
    <p class="error" th:if="${#fields.hasErrors('note')}" th:errors="*{note}"></p>

    <label for="trader">Handlowiec</label>
    <p><select id="trader" form="customerForm" th:field="*{employee}">
        <option value="" selected hidden="">Wybierz</option>
        <option th:each="employee: ${employees}" th:text="${employee.name} + ' ' + ${employee.surname}" th:value="${employee.id}"></option>
    </select> </p>
    <p class="error" th:if="${#fields.hasErrors('employee')}" th:errors="*{employee}"></p>


    <button type="submit">Wyślij</button>
    <button type="reset">Reset</button>


</form>
</body>
</html>