<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CRM - Customers List</title>
    <style> td, th {
        border: 1px solid black;
    } </style>
</head>
<body>
<table>
    <thead>
    <th>ID</th>
    <th>Imię</th>
    <th>Nazwisko</th>
    <th>Email</th>
    <th>Numer telefonu</th>
    <th>Kod pocztowy</th>
    <th>Miasto</th>
    <th>Notatka</th>
    <th>Handlowiec</th>
    <th>Status</th>
    <th>Edytuj</th>
    <th>Usuń</th>
    <th colspan="2">Aktywności</th>
    </thead>
    <tbody>
    <tr th:each="customer: ${customers}">
        <td th:text="${customer.id}"/>
        <td th:text="${customer.name}"/>
        <td th:text="${customer.surname}"/>
        <td th:text="${customer.email}"/>
        <td th:text="${customer.phoneNumber}"/>
        <td th:text="${customer.postCode}"/>
        <td th:text="${customer.city}"/>
        <td th:text="${customer.note}"/>
        <td th:text="${customer.employee.name} + ' ' + ${customer.employee.surname}"/>
        <td th:text="${customer.status}"/>
        <td><a th:href="@{/customers/edit/{id}(id=${customer.id})}" th:text="Edytuj"/></td>
        <td><a th:href="@{customers/delete/{id}(id=${customer.id})}" th:text="Usuń"/></td>
        <td><a th:href="@{customers/activities/{id}(id=${customer.id})}" th:text="Podgląd"/></td>
        <td><a th:href="@{customers/activities/add/{id}(id=${customer.id})}" th:text="Dodaj"/></td>
        <br>
    </tr>
    </tbody>
</table>
</body>
</html>