<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
    <link rel="stylesheet" href="/style/style.css">
</head>
<body>
<header>
    <div style="display: inline-block">
        <nav>
            <a class="nav-bar" href="/customers">Lista Klientów</a>
            <a class="nav-bar" href="/register/customer">Zarejestruj Klienta</a>
            <a class="nav-bar" href="/employees">Lista Pracowników</a>
            <a class="nav-bar" href="/register/employee">Zarejestruj Pracownika</a>
            <a class="nav-bar" href="/products">Lista Produktów</a>
            <a class="nav-bar" href="/register/employee">Zarejestruj Produkt</a>
        </nav>
    </div>
</header>

</body>
</html>